---
layout: ""
page_title: "Provider: Agile"
description: |-
  The Agile provider provides resources to interact with a Hauwei Agile controller API.
---

# Agile Provider

The Agile provider provides resources to interact with a Hauwei Agile controller API.

It is not recommended to use your own account for management of your controller. A user specific to
Terraform is recommended.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}